<ion-header>
    <ion-navbar>
        <ion-title>关于我们</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <img class="img1" src="assets/images/my/nothing_img@{{dpr}}x.png">
    <p class="p1">{{appName}}</p>
    <p class="p2" *ngIf="globalData.showModule">一个专业的期权交易投资平台</p>
    <p class="p3">{{appNo}}</p>
    <!-- <img class="img2" src="assets/images/home/home_img_cme.png"> -->
    <!-- <p class="p4" *ngIf="globalData.showModule">实盘对接芝加哥商品交易所</p> -->
    <div class="au_div">
        <p class="p5">米度集团 版权所有</p>
        <p class="p6">Copyright © 2017 JUKAI.All Rights Reserved</p>
    </div>
</ion-content>