page-si-phone {
    .item-ios {
        padding-left: 0;
        .item-inner {
            padding: 0 1.25rem;
            border-bottom: 1px solid rgba(229, 229, 229, 0.7)!important;
        }
    }
    .sd_img {
        width: 48%;
        margin: 1.25rem 26%;
    }
}