page-si-drawpassword {
    .font_style {
        font-family: PingFangSC-Regular;
        font-size: 1.25rem;
        color: #000000;
        margin: 0;
    }
    .item-ios {
        padding-left: 0;
        .item-inner {
            padding: 0 1.25rem;
            border-bottom: 1px solid rgba(229, 229, 229, 0.7)!important;
        }
    }
}