page-risk-warn {
    .scroll-content {
        padding: 1.25rem;
        padding-top: 0;
    }
    h4 {
        font-family: PingFangSC-Regular;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
    p {
        text-indent: 2em;
        font-family: PingFangSC-Regular;
        font-size: 1.25rem;
        color: #666666;
        letter-spacing: 2px;
        line-height: 1.75rem;
    }
}